<div>
	<h3>{{mensagem}}</h3>

	<form name="categoriaForm">
	<div class="emptyBox30"></div>
	<input type="text" name="nome" placeholder="Nome" ng-model="categoria.nome" ng-required="true">
	{{categoria.nome}}
	<div class="emptyBox20"></div>
	<button class="btn btn-primary btn-block" ng-disabled="categoriaForm.nome.$invalid" ng-click="salvar(categoria)">Salvar</button>
	</form>

	<!-- pesquisa -->
	<div class="table-responsive">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nome</th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="categoria in categorias">
					<td>{{categoria.idCategoria}}</td>
					<td>{{categoria.nome}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<button class="btn btn-primary btn-block" ng-click="buscar()">Buscar</button>

</div>
