<div>

	<!-- CADASTRAR -->
	<h3>{{msg}}</h3>

	<form name="editoraForm">
	<div class="emptyBox30"></div>
	<input type="text" name="nome" placeholder="Nome" ng-model="editora.nome" ng-required="true">
	{{editora.nome}}
	<div class="emptyBox20"></div>
	<button class="btn btn-primary btn-block" ng-disabled="editoraForm.nome.$invalid" ng-click="salvar(editora)">Salvar</button>
	</form>
	<!-- PESQUISAR -->
	<div class="table-responsive">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nome</th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="editora in editoras">
					<td>{{editora.idEditora}}</td>
					<td>{{editora.nome}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<button class="btn btn-primary btn-block" ng-click="buscar()">Buscar</button>

</div>
