<div class="page-header-inner">			
	<div class="page-logo">
		<a href="index.html"> 
			<img src="lib/img/piratebookFinal-132x40.png" alt="logo" class="logo-default" />
		</a>
		<div class="menu-toggler sidebar-toggler hide"></div>
	</div>			
	
	<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
	
	<div class="top-menu">
		<ul class="nav navbar-nav pull-right">
			<li class="dropdown dropdown-user">
				<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
					<img alt="Avatar" class="img-circle" src="{{imagem}}"/>
					<span class="username username-hide-on-mobile BoldGray">{{nome}}</span>
					<i ng-show="showDropDown" class="fa fa-angle-down BoldGray"></i>
				</a>
				<ul ng-show="showDropDown" class="dropdown-menu dropdown-menu-default">
					<li>
						<a ng-click="showModal()">
						<i class="icon-user"></i> Minha conta </a>
					</li>
				
					<li class="divider"></li>							
			
					<li >
						<a ng-click="logout()"> 
							<i class="icon-power"></i>
							<span class="title">Sair</span>
						</a>
					</li>
				</ul>
			</li>
			
			<li class="dropdown dropdown-quick-sidebar-toggler">
				<a class=" dropdown-toggle" ng-click="logout()"> 
					<i class="icon-logout"></i>							
				</a>
			</li>
		</ul>
	</div>	

	<div id="modalDetalhesConta" class="modal fade">		            
		<div style="height: 100%;" class="modal-backdrop fade"></div>
		<div class="modal-dialog modal-lg"> 			          
			<div class="modal-content"> 
				<div class="modal-header"> 
			    	<button ng-click="limparToken()" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			    	<div class="caption">
						<i class=" icon-user-following BoldGray Fs20"></i>
						<span class="caption-subject BoldGray FontBold uppercase Fs16">MINHA CONTA</span>
					</div>
			  	</div> 
				<div class="modal-body">
					<div class="portlet-body form">						
						<form name="contaForm" class="horizontal-form">
							<div class="form-body">							
								
								<div class="row">
									<div class="col-xs-12 col-md-6">
										<div class="form-group">
											<label class="control-label">Denominação</label>
											<input type="text" class="form-control" name="denominacao" ng-model="conta.denominacao" ng-readonly="true">					
										</div>
									
										<div class="form-group">
											<label>Email Técnico</label>										
											<input type="text" class="form-control" name="emailTecnico" ng-model="conta.emailTecnico" ng-readonly="true">				
										</div>
								
										<div class="form-group">
											<label>Email Comercial</label>
											<input type="text" class="form-control" name="emailComercial" ng-model="conta.emailComercial" ng-readonly="true">			
										</div>
								
										<div class="form-group">
											<label>Email Financeiro</label>
											<input type="text" class="form-control" name="emailFinanceiro" ng-model="conta.emailFinanceiro" ng-readonly="true">
										</div>
									
										<div class="form-group">
											<div class="checkbox-list">						
												<label>
													<input type="checkbox" value="true" ng-model="conta.atualizacaoFcHabilitada" ng-click="inicializarArrays()" disabled="true">Habilitar Atualização do Frente de Caixa.
												</label>											
											</div>
										</div>
									</div>

									<div class="col-xs-12 col-md-6">
										<h3 class="form-section">Permissão para Atualização do Frente de Caixa</h3>				
										<div class="row">
											<div class="col-xs-12 col-md-4">
												<h4>Dias.</h4>
												<div class="form-group">
													<div class="checkbox-list">	
														<div class="col-xs-12 col-md-12">	
															<label><input type="checkbox" value="true" ng-model="conta.diasSemanaAtualizacaoFc[0]" disabled="true">Domingo</label><br>		
															<label><input type="checkbox" value="true" ng-model="conta.diasSemanaAtualizacaoFc[1]" disabled="true">Segunda</label><br>	
															<label><input type="checkbox" value="true" ng-model="conta.diasSemanaAtualizacaoFc[2]" disabled="true">Terça</label><br>
															<label><input type="checkbox" value="true" ng-model="conta.diasSemanaAtualizacaoFc[3]" disabled="true">Quarta</label><br>
															<label><input type="checkbox" value="true" ng-model="conta.diasSemanaAtualizacaoFc[4]" disabled="true">Quinta</label><br>
															<label><input type="checkbox" value="true" ng-model="conta.diasSemanaAtualizacaoFc[5]" disabled="true">Sexta</label><br>
															<label><input type="checkbox" value="true" ng-model="conta.diasSemanaAtualizacaoFc[6]" disabled="true">Sabado</label>			
														</div>															
													</div>
												</div>
											</div>
									
											<div class="col-xs-12 col-md-8">
												<h4>Horários.</h4>
												<div class="form-group">
													<div class="checkbox-list">
														<div class="col-xs-12 col-md-4">		
															<label><input type="checkbox" value="true" ng-model="conta.horaAtualizacaoFc[0]" disabled="true">00:00</label><br>				
															<label><input type="checkbox" value="true" ng-model="conta.horaAtualizacaoFc[1]" disabled="true">01:00</label><br>	
															<label><input type="checkbox" value="true" ng-model="conta.horaAtualizacaoFc[2]" disabled="true">02:00</label><br>
															<label><input type="checkbox" value="true" ng-model="conta.horaAtualizacaoFc[3]" disabled="true">03:00</label><br>
															<label><input type="checkbox" value="true" ng-model="conta.horaAtualizacaoFc[4]" disabled="true">04:00</label><br>
															<label><input type="checkbox" value="true" ng-model="conta.horaAtualizacaoFc[5]" disabled="true">05:00</label><br>
															<label><input type="checkbox" value="true" ng-model="conta.horaAtualizacaoFc[6]" disabled="true">06:00</label><br>	
															<label><input type="checkbox" value="true" ng-model="conta.horaAtualizacaoFc[7]" disabled="true">07:00</label>										
														</div>
														<div class="col-xs-12 col-md-4">
															<label><input type="checkbox" value="true" ng-model="conta.horaAtualizacaoFc[8]" disabled="true">08:00</label><br>
															<label><input type="checkbox" value="true" ng-model="conta.horaAtualizacaoFc[9]" disabled="true">09:00</label><br>
															<label><input type="checkbox" value="true" ng-model="conta.horaAtualizacaoFc[10]" disabled="true">10:00</label><br>
															<label><input type="checkbox" value="true" ng-model="conta.horaAtualizacaoFc[11]" disabled="true">11:00</label><br>
															<label><input type="checkbox" value="true" ng-model="conta.horaAtualizacaoFc[12]" disabled="true">12:00</label><br>
															<label><input type="checkbox" value="true" ng-model="conta.horaAtualizacaoFc[13]" disabled="true">13:00</label><br>
															<label><input type="checkbox" value="true" ng-model="conta.horaAtualizacaoFc[14]" disabled="true">14:00</label><br>
															<label><input type="checkbox" value="true" ng-model="conta.horaAtualizacaoFc[15]" disabled="true">15:00</label>											
														</div>
														<div class="col-xs-12 col-md-4">
															<label><input type="checkbox" value="true" ng-model="conta.horaAtualizacaoFc[16]" disabled="true">16:00</label><br>
															<label><input type="checkbox" value="true" ng-model="conta.horaAtualizacaoFc[17]" disabled="true">17:00</label><br>			
															<label><input type="checkbox" value="true" ng-model="conta.horaAtualizacaoFc[18]" disabled="true">18:00</label><br>	
															<label><input type="checkbox" value="true" ng-model="conta.horaAtualizacaoFc[19]" disabled="true">19:00</label><br>
															<label><input type="checkbox" value="true" ng-model="conta.horaAtualizacaoFc[20]" disabled="true">20:00</label><br>
															<label><input type="checkbox" value="true" ng-model="conta.horaAtualizacaoFc[21]" disabled="true">21:00</label><br>
															<label><input type="checkbox" value="true" ng-model="conta.horaAtualizacaoFc[22]" disabled="true">22:00</label><br>
															<label><input type="checkbox" value="true" ng-model="conta.horaAtualizacaoFc[23]" disabled="true">23:00</label>																	
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								
								<div class="EmptyBox20"></div>							
								
							</div>
						</form>
					</div>		
				</div> 
			</div> 
		</div> 
	</div>		
</div>